In [30]:
import pandas as pd
import sqlite3

In [31]:
orders = pd.read_csv("/content/orders.csv")

In [32]:
users = pd.read_json("/content/users.json")

In [33]:
conn = sqlite3.connect("/content/restaurants.db")

with open("/content/restaurants.sql", "r") as file:
    sql_script = file.read()

conn.executescript(sql_script)

restaurants = pd.read_sql("SELECT * FROM restaurants", conn)

In [34]:
orders_users = pd.merge(
    orders,
    users,
    on="user_id",
    how="left"
)

In [35]:
final_df = pd.merge(
    orders_users,
    restaurants,
    on="restaurant_id",
    how="left"
)

In [36]:
if "restaurant_name_y" in final_df.columns:
    final_df.rename(columns={"restaurant_name_y": "restaurant_name"}, inplace=True)

if "restaurant_name_x" in final_df.columns:
    final_df.drop(columns=["restaurant_name_x"], inplace=True)

In [37]:
final_df.to_csv("/content/final_food_delivery_dataset.csv", index=False)

In [38]:
final_df.head()

,order_id,user_id,restaurant_id,order_date,total_amount,name,city,membership,restaurant_name,cuisine,rating
0,1,2508,450,18-02-2023,842.97,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2
1,2,2693,309,18-01-2023,546.68,User_2693,Pune,Regular,Restaurant_309,Indian,4.5
2,3,2084,107,15-07-2023,163.93,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0
3,4,319,224,04-10-2023,1155.97,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8
4,5,1064,293,25-12-2023,1321.91,User_1064,Pune,Regular,Restaurant_293,Italian,3.0